modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[deployment]
deploymentTarget = "static"
publicDir = "dist/public"
run = ["sh", "-c", "bash -c printf \"%s\\n\\n%s\" \"$0\" \"$1\" Please use the \u001B[1;93mConfiguration\u001B[0m pane to configure your run command. For more info, see: https://docs.replit.com/replit-workspace/configuring-repl#run"]

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://qprotczezvygnzrtspvx.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFwcm90Y3plenZ5Z256cnRzcHZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMDU0MTIsImV4cCI6MjA5Mjg4MTQxMn0.TomcEHg69lK3RqNkAdQxtnG5Ot8IR3JiC6ETL3yqCjg"
VITE_SUPABASE_PROJECT_ID = "qprotczezvygnzrtspvx"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFwcm90Y3plenZ5Z256cnRzcHZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMDU0MTIsImV4cCI6MjA5Mjg4MTQxMn0.TomcEHg69lK3RqNkAdQxtnG5Ot8IR3JiC6ETL3yqCjg"
SUPABASE_URL = "https://qprotczezvygnzrtspvx.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFwcm90Y3plenZ5Z256cnRzcHZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMDU0MTIsImV4cCI6MjA5Mjg4MTQxMn0.TomcEHg69lK3RqNkAdQxtnG5Ot8IR3JiC6ETL3yqCjg"
